/* File: style.css
Author: Szamosfalvi Szonja
Copyright: 2024, Szamosfalvi Szonja
Group: Szoft I-1-N
Date: 2024-03-07
Github: https://github.com/szonia/
Licenc: GNU GPL */

body {
    background-color: lavenderblush;
}

h2 {
    margin-bottom: 30px;
    font-size: 15px;
}

.input {
    margin-top: 10px;
}

.button {
    margin-top: 10px;
}
.area {
    margin-top: 20px;
}
footer {
    font-size: 12px;
    margin-top: 100px;
}